body {
    font-family: "Arial";
    background: rgb(176, 170, 177);
  }
  
  /* ul {
    list-style-type: none;
    padding: 10px;
  }
  li {
    padding: 15px;
    background: rgb(185, 213, 226);
    margin-bottom: 10px;
  } */

  #randomN {
    color: red;
  }

  #timestamp1{
   background-color: black;
   color: yellow;
  }

  #timestamp2{
    background-color: blue;
    color: yellow;
  }

  #items {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
  }
  
  #items td, #items th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: crosshair;
  }
  
  #items tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #items tr:hover {
    background-color: #dd0;
  }
  
  #items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }